* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500;600;700;800&display=swap");

html {
  font-size: 62.5%;
}

body {
  /*font-family: "Playfair Display", serif;*/
  font-family: "Bitter", serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 5rem 3rem 3rem 3rem;
}

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #4548555e, #454855b2),
    url(../images/frontPage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(5% 0, 100% 0, 95% 100vh, 0 100%);
  border: rgb(117, 117, 117) 0.5px solid;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__primary-text {
  color: #fff;
  /*text-transform: uppercase;*/
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.heading-primary--main {
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.315) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1rem 12rem;

  text-decoration: none;
  transition: background-size 0.2s;
}

.heading-primary--main:hover {
  background-size: 0.4rem 0.4rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn--dark {
  background: rgb(56, 56, 56);
  color: #fff;
}

/*Toolbar*/
.logo img {
  height: 4.5rem;
  width: auto;
  margin-top: 2rem;
}

.navigation-items {
  list-style: none;
  display: flex;
}

.navigation-items li a {
  text-decoration: none;
  color: #454855;
  margin: 0 1.1rem;
  font-size: 1.8rem;
  padding: 1.1rem 1.6rem;
  font-weight: 500;
}

.navigation-items li a:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.233);
  color: #fff;
}

.toolbar {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 90;
  background: #fff;
}

p {
  white-space: pre-wrap;
}

/* INFO CONTAINER */

#sections-navigation {
  left: 0;
  top: 5rem;
  height: 4rem;
  background-color: #fff;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
}

#sections-navigation > a {
  display: block;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
  border-radius: 5rem;
  width: 12rem;
}

#sections-navigation > a:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.644);
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;

  margin: 1rem 0;
  justify-content: center;
  text-align: center;
  padding: 0 10rem;
}

#Mision {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/mision.jpg);
  background-size: cover;
}
#Vision {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/vision.jpg);
  background-size: cover;
}

#Valores {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/valores.jpg);
  background-size: cover;
}
.description--valores {
  font-size: 3rem;
}

#Politicas {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/politicas.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 150vh;
  color: #fff;

  margin: 1rem 0;

  text-align: center;
  padding: 12rem 10rem;
}

.page a {
  text-decoration: none;
}

.info-container--title {
  font-size: 3rem;
  line-height: 1.6;
  margin: 1rem;
}

.info-container--ong-data {
  line-height: 1.6;
}

.ong-data-Mision,
.ong-data-Vision,
.ong-data-Politicas {
  text-align: justify;
  font-size: 2.5rem;
  font-weight: 500;
}

.ong-data-Valores {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1rem;
  justify-content: center;
  font-weight: 500;
  font-size: 2.5rem;
}

.ong-data-Politicas {
  height: 20rem;
}

.ong-data-Valores > span {
  display: grid;
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}

.ong-data-Valores > span:hover {
  background-color: rgba(56, 56, 56, 0.315);
  box-shadow: 0 0.5rem 0.8rem #ccc;
}

/* STyles for Image on a new */

.newsImages {
  width: 70vw;
}

.newsImages-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.posts-container {
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
  gap: 1.5rem;
  padding: 0px 3rem 3rem 3rem;
  transition: all 0.5s ease-in-out;
}

.post-card {
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 0.3rem #ccc;
  height: 38rem;

  position: relative;
}

.post-card__title {
  text-align: center;
  padding: 1rem;
}

.post-card__read-more {
  display: grid;
  align-items: center;
  transition: all 0.5s ease-in-out;

  font-size: 4rem;
  color: #fff;

  border-radius: inherit;
  position: absolute;
  top: 0rem;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.post-card__read-more > a {
  text-decoration: none;
  background: rgba(119, 119, 119, 0.644);
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: inherit;
}

.post-card:hover .post-card__read-more {
  opacity: 1;
  background: rgba(26, 25, 25, 0.534);

  height: 100%;
}

.article-text {
  font-size: 2.5rem;
  font-weight: 500;
}

/*
.post-card:hover {
  transform: translateY(-1rem);
  background-color: rgba(0, 0, 0, 0.788);
  color: #fff;
  box-shadow: 0 0.8rem 0.8rem #ccc;
}*/

/*
.info-container--ong-data {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 30% 70%;
  grid-template-columns: repeat(auto-fill, minmax(45rem, 3fr));

  gap: 2rem;
}

.info-container--title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.ong-data--description {
  display: grid;

  align-content: center;
  font-size: 1.6rem;
}

.ong-data--image {
  display: flex;
  justify-content: center;
}

.ong-data--image > div {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}

.description--valores {
  display: grid;
  line-height: 5rem;
  font-weight: 700;
  align-content: center;
  font-size: 2.2rem;
}

@media (min-width: 1449px) {
  .info-container--ong-data {
    grid-template-columns: 20% 80%;
  }
}
@media (max-width: 1071px) {
  .info-container--ong-data {
    grid-template-columns: 40% 60%;
  }
}

@media (max-width: 800px) {
  .info-container--ong-data {
    grid-template-columns: 1fr;
  }
  .description--valores {
    justify-content: center;
  }
}
*/
