* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;

  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: rgb(41, 41, 41);
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #4548557a, #454855c7),
    url(../images/frontPage.jpg);
  background-size: cover;
  background-position: top;

  background-attachment: fixed;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 4rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__primary-text {
  color: #fff;
  /*text-transform: uppercase;*/
  backface-visibility: hidden;
  margin-bottom: 5rem;
}

.heading-primary--main {
  display: block;
  color: #fff;
  font-size: clamp(2rem, 3vw, 4rem);
  font-weight: 400;
  letter-spacing: 0.2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.315) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1rem 12rem;

  text-decoration: none;
  transition: background-size 0.2s;
}

.heading-primary--main:hover {
  background-size: 0.4rem 0.4rem;
}

.heading-primary--sub {
  display: block;

  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 300;
  letter-spacing: 0.5rem;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn--dark {
  background: rgb(56, 56, 56);
  color: #fff;
}

/*Toolbar*/
.logo img {
  height: 6rem;
  width: auto;
  margin-top: 2rem;
}

.navigation-items,
.black-item {
  list-style: none;
  display: flex;
}

.navigation-items li a {
  text-decoration: none;
  color: #fff;
  margin: 0 1.1rem;

  font-size: clamp(1.1rem, 1.3vw, 2.5rem);
  padding: 1.1rem 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}

.black-item li a {
  text-decoration: none;
  color: #343e52;
  margin: 0 1.1rem;
  font-size: 1.5rem;
  padding: 1.1rem 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
}

.black-item li:hover .underline-black {
  width: 90%;
  height: 0.2rem;
  margin: 0 0.5rem;
}

.underline {
  content: "";
  transition: all 0.3s;
  width: 0;
  height: 0.2rem;
  margin: 0 3rem;
  background: #fff;
}

.underline-black {
  content: "";
  transition: all 0.3s;
  width: 0;
  height: 0.2rem;
  margin: 0 3rem;
  background: #343e52;
}

.navigation {
  visibility: hidden;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background: #282a3de7;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
}
@media (max-width: 56.25em) {
  .navigation__button {
    top: 1.5rem;
    right: 1.5rem;
  }
}
.navigation__background {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#202a3d, #a4c6ff);

  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}
@media (max-width: 56.25em) {
  .navigation__background {
    top: 1.9rem;
    right: 1.9rem;
  }
}
.navigation__nav {
  height: 100vh;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100vw;
}
.navigation__item {
  margin: 2rem;
}
.navigation__link:link,
.navigation__link:visited {
  padding: 0 2rem;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #fff 50%
  );
  background-size: 225%;
  transition: all 0.5s;
}
.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #d8dbd9;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100vw;
  visibility: visible;
}

/* 2nd git */

.navigation__icon {
  position: relative;
  margin-top: 2.6rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 3rem;
  height: 2px;
  background: #fff;
  display: inline-block;
}
.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::after {
  transform: translateY(0.3rem);
}
.navigation__button:hover .navigation__icon::before {
  transform: translateY(-0.3rem);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(135deg);
  top: 0;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-135deg);
  top: 0;
}

.navigation-items li:hover .underline {
  width: 90%;
  height: 0.2rem;
  margin: 0 0.5rem;
}

.toolbar {
  height: 7rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 20000;
  /*background: #677693c2;*/
  /*background: #343e52d7;*/
  background: transparent;
}

.toolbar_posts {
  height: 6rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 20000;
  /*background: #677693c2;*/
  /*background: #343e52d7;*/
  background: #fff;
}

.active {
  background: linear-gradient(to right bottom, #343e52, #7384a1);
}

.active-black {
  background: linear-gradient(to right bottom, #343e52, #7384a1);
}

.active-black-item li a {
  color: #fff;
}

p {
  white-space: pre-wrap;
}

/* ONG INFO CONTAINER */
.about-container {
  margin: 0;
  height: 100vh;
}
#sections-navigation {
  left: 0;
  top: 6rem;
  height: 4rem;
  background-color: transparent;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  padding: 0 5rem;
  box-sizing: border-box;
}

#sections-navigation > a {
  display: block;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 1rem;
  border-radius: 5rem;
  width: 12rem;
}

#sections-navigation > a:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.644);
}

.info-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;

  justify-content: center;
  text-align: center;
  padding: 0 10rem;
}

#Mision {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/mision.jpg);
  background-size: cover;
  background-attachment: fixed;
}
#Vision {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/vision.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#Valores {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/valores.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#Politicas {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/About/politicas.jpg);

  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 150vh;
  color: #fff;

  text-align: center;
  padding: 12rem 10rem;
}

.page a {
  text-decoration: none;
}

.info-container--title {
  font-size: clamp(1.5rem, 5vw, 4rem);
  line-height: 1.6;
  margin: 1rem;
  text-transform: uppercase;
}

.info-container--ong-data {
  line-height: 1.6;
}

.info-container--description {
  font-weight: 300;
}

.ong-data-Mision,
.ong-data-Vision,
.ong-data-Politicas {
  text-align: justify;
  font-size: clamp(1.3rem, 1.5vw, 2.5rem);
  font-weight: 500;
}

.ong-data-Valores {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
  font-weight: 500;

  font-size: clamp(1.3rem, 1.7vw, 2.5rem);
}

.ong-data-Politicas {
  height: 20rem;
}

.ong-data-Valores--content {
  display: grid;
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0 0.2rem 0.3rem #ccc;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
}

.valores-icons {
  font-size: clamp(2.8rem, 4vw, 5rem);
}

.ong-data-Valores--content:hover {
  background-color: rgba(56, 56, 56, 0.315);
  box-shadow: 0 0.5rem 0.8rem #ccc;
}

/* STyles for Image on a new */

.news-container {
  background-image: linear-gradient(to right bottom, #2424248f, #000000b2),
    url(../images/news.jpg);

  background-size: cover;
  padding: 5rem 0;
  background-attachment: fixed;
  min-height: 100vh;
}

.newsImages {
  width: 70vw;
}

.newsImages-container {
  display: flex;

  justify-content: center;
  align-items: center;
}

.posts-container {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(358px, 1fr));
  justify-content: center;
  gap: 8rem;
  padding: 0px 3rem 3rem 3rem;
  transition: all 0.5s ease-in-out;
}

.page-title {
  color: #fff;
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
}

.post-card {
  border: 1px solid #eee;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(161, 161, 161, 0.877);
  height: 26.3rem;
  position: relative;
  background: rgba(255, 255, 255, 0.925);
  overflow: hidden;
}

.post-card__title {
  text-align: center;
  font-size: 2.1rem;
  padding: 1rem;
  font-weight: 300;
}

.post-card__image {
  /*height: 19.95rem;*/
  height: 100%;

  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.post-card__read-more {
  display: grid;
  align-items: center;
  transition: all 0.5s ease-in-out;

  font-size: 3rem;
  color: #fff;
  font-weight: 500;
  border-radius: inherit;
  position: absolute;
  top: 0rem;
  left: 0;
  height: 50%;
  width: 100%;
  z-index: 1;
  opacity: 0;
}

.post-card__read-more > a {
  text-decoration: none;
  border-radius: 2rem;
  background: rgba(119, 119, 119, 0.644);
  display: inline-block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: inherit;
}

.post-card:hover .post-card__read-more {
  opacity: 1;
  background: rgba(26, 25, 25, 0.534);

  height: 100%;
}

.article-text {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  font-weight: 500;
}

.article-text h1 {
  margin: 5rem 8rem 0 8rem;
  font-size: clamp(2.3rem, 3vw, 3rem);
}

.article-text > p {
  margin: 3rem;
}

.article-text > h2 {
  font-size: clamp(2.5rem, 3.5vw, 4rem);
  margin: 4rem 3rem 0 3rem;
}

/*PROGRAM*/
.progrmas-container {
  background-image: linear-gradient(to right bottom, #4548557a, #454855c7),
    url(../images/programs.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100vh;
  padding: 5rem 1rem;
}

/*HELP US*/

.helpContainer {
  padding-top: 5rem;

  width: 100%;
  color: #fff;
  margin: 0 auto auto 0;
  font-size: 2rem;
  background-image: linear-gradient(to right bottom, #454855b4, #454855e5),
    url(../images/helpus.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding-bottom: 5rem;
}

.helpContainer__title {
  text-align: center;
  font-size: clamp(2rem, 4vw, 4rem);
}

.helpContainer__subtitle {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 2.5rem);

  padding: 0 10rem;
}

.help-section--title {
  font-weight: 600;
  text-transform: uppercase;
}

.helpway-title {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 2rem;
  margin-top: 3rem;
  text-align: center;
  text-decoration: underline;
}

.helpway-content {
  font-weight: 200;
  animation: moveFromBottom 1s cubic-bezier(0.3, 1.55, 0.79, 1.23);
}

.helpway-content > p {
  font-size: clamp(1rem, 2.3vw, 2.3rem);
  padding: 0 8rem;
  text-align: justify;
}

.helpway-content > p > iframe {
  text-align: center;
}

.helpway-content > ul {
  padding-left: 10rem;
  font-size: clamp(1rem, 2.3vw, 2.3rem);
  margin-bottom: 1.5rem;
}

.embed-video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 45%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-right: 10rem;
  padding-left: 10rem;
}

.embed-video {
  margin: 2rem auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 90%;
}

.help-section {
  text-align: center;
}

/*CONTACT FORM*/

.form-container {
  margin-top: 5rem;
  width: 100vw;

  margin: 0 auto auto 0;
  font-size: 2rem;
  background-image: linear-gradient(to right bottom, #454855b4, #454855e5),
    url(../images/contact.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  padding: 5rem;
}

.contact-form {
  margin: 2rem auto;

  width: 80%;
  background: rgba(0, 0, 0, 0.507);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem;
  border-radius: 0.5rem;
  animation: moveFromTop 1s cubic-bezier(0.3, 1.55, 0.79, 1.23);
}

.contact-description {
  padding: 0 5rem;
  text-align: center;
  font-size: clamp(1.4rem, 2vw, 2rem);
  hyphens: auto;
}

.contact-form > input,
label,
textarea,
button {
  margin: 0 auto;
  width: 80%;
}

.contact-form input,
label {
  line-height: 2;
}

.contact-form input {
  margin-bottom: 1rem;
}

.form-button {
  margin-top: 2.5rem;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  background: #37af65;
  font-size: 2rem;
  width: 50%;
  border-radius: 1rem;
}

.post-container {
  margin-top: 4rem;
}

/*Main footer*/

.main-footer {
  background: #171823e7;
  color: #ccc;
  height: 10rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: clamp(1rem, 1.2vw, 1.9rem);
  position: absolute;
  width: 100%;
}

.footer-logo img {
  height: 8rem;
  width: auto;
}

.main-footer--text {
  font-size: clamp(0.9rem, 1.5vw, 1.9rem);
}

.main-footer--social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-footer--social > div {
  margin: 0 1rem;
}

.main-footer--link {
  color: #ccc;
}

.main-footer--link:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.3);
}

.social__phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-size {
  font-size: clamp(2rem, 2.5vw, 2.8rem);
}

/*FOR 404*/

.page404-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page404-title {
  font-size: clamp(2rem, 4vw, 4rem);
  text-align: center;
}
.page404-link {
  background: #37af65;
  border-radius: 3rem;
}

.page404-link > a {
  font-size: clamp(1rem, 3vw, 3rem);
  color: #fff;
  text-decoration: none;
  padding: 1rem;
}

.page404-link:hover {
  background: #2d9153;
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

@media screen and (max-width: 900px) {
  .navigation {
    visibility: visible;
  }
  .toolbar {
    visibility: hidden;
  }
  .toolbar_posts {
    visibility: hidden;
  }

  .btn:link,
  .btn:visited {
    text-transform: uppercase;

    padding: 0.5rem 2rem;
  }
  #Politicas {
    height: 135vh;
  }
  .posts-container {
    grid-template-columns: repeat(auto-fill, minmax(358px, 40rem));
  }

  .post-card {
    height: auto;
    position: unset;
  }

  .post-card__read-more {
    transition: none;

    color: rgb(41, 37, 37);

    position: unset;
    top: unset;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    z-index: 1;
    opacity: 1;
  }

  .post-card__read-more > a {
    text-decoration: none;
    border-radius: 2rem;
    background: rgba(119, 119, 119, 0.644);
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: inherit;
  }
}

@media screen and (max-width: 700px) {
  .helpway-content > p {
    padding: 0 3.5rem;
  }

  .footer-logo img {
    height: 5rem;
    width: auto;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .info-container {
    padding: 0 4rem;
  }

  #Politicas {
    padding: 0 4rem;
  }

  .contact-form {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .navigation__button {
    height: 4rem;
    width: 4rem;
  }

  .navigation__background {
    height: 3.5rem;
    width: 3.5rem;
  }
  .navigation__icon {
    margin-top: 2.1rem;
  }
  .main-footer {
    flex-direction: column;
    height: 15rem;
  }

  .main-footer--text {
    margin: 1rem 0;
  }
  .main-footer--social {
    margin-bottom: 1.5rem;
  }

  .posts-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 40rem));
  }
}

/*
.post-card:hover {
  transform: translateY(-1rem);
  background-color: rgba(0, 0, 0, 0.788);
  color: #fff;
  box-shadow: 0 0.8rem 0.8rem #ccc;
}*/

/*
.info-container--ong-data {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: 30% 70%;
  grid-template-columns: repeat(auto-fill, minmax(45rem, 3fr));

  gap: 2rem;
}

.info-container--title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.ong-data--description {
  display: grid;

  align-content: center;
  font-size: 1.6rem;
}

.ong-data--image {
  display: flex;
  justify-content: center;
}

.ong-data--image > div {
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}

.description--valores {
  display: grid;
  line-height: 5rem;
  font-weight: 700;
  align-content: center;
  font-size: 2.2rem;
}

@media (min-width: 1449px) {
  .info-container--ong-data {
    grid-template-columns: 20% 80%;
  }
}
@media (max-width: 1071px) {
  .info-container--ong-data {
    grid-template-columns: 40% 60%;
  }
}

@media (max-width: 800px) {
  .info-container--ong-data {
    grid-template-columns: 1fr;
  }
  .description--valores {
    justify-content: center;
  }
}
*/
