* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 5rem 3rem 3rem 3rem;
}

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, #4548555e, #454855b2),
    url(../images/frontPage.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(5% 0, 100% 0, 95% 100vh, 0 100%);
  border: rgb(117, 117, 117) 0.5px solid;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  /*The next line add a negative offset to get the text-box right 
  in the middle of the screen*/
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__primary-text {
  color: #fff;
  /*text-transform: uppercase;*/
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  color: #fff;
  font-size: 3.3rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  background: linear-gradient(
    to bottom,
    rgba(204, 203, 203, 0.507) 0%,
    rgba(56, 56, 56, 0.315) 100%
  );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 1rem 12rem;

  text-decoration: none;
  transition: background-size 0.2s;
}

.heading-primary--main:hover {
  background-size: 0.4rem 0.4rem;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--white {
  background: #fff;
  color: rgb(56, 56, 56);
}

.btn--dark {
  background: rgb(56, 56, 56);
  color: #fff;
}

/*Toolbar*/
.navigation-items {
  list-style: none;
  display: flex;
}

.navigation-items li a {
  text-decoration: none;
  color: #454855;
  margin: 0 1.1rem;
  font-size: 1.8rem;
  padding: 1.1rem 1.6rem;
  font-weight: 500;
}

.navigation-items li a:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.233);
  color: #fff;
}

.toolbar {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 90;
  background: #fff;
}
